@model Pracuj.ath.bielsko.pl.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}
@section Banner {
    <div class="login-page page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(/Content/themes/images/7.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    @using (Html.BeginForm("Login", "Account"))
    {
                        @Html.AntiForgeryToken()
                        <form class="form">
                            <div class="content">
                                <div class="input-group form-group-no-border input-lg">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control", @placeholder = "Email" })
                                   
                                </div>
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                <div class="input-group form-group-no-border input-lg">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                    </span>
                                    @Html.TextBoxFor(model => model.Password, new { @placeholder = "Hasło", @class="form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="footer text-center">
                                <input type="submit" value="Zaloguj" class="btn btn-primary btn-round btn-lg btn-block" />
                            </div>
                            <div class="pull-left">
                                <h6>
                                    @Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "link" })
                                </h6>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
}
@section Content {

}

