@model Pracuj.ath.bielsko.pl.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
@section Banner{
<div class="login-page page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(/Content/themes/images/1.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                @using (Html.BeginForm("Register", "Account"))
    {
                    @Html.AntiForgeryToken()
                    <form class="form">
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control", @placeholder = "Login" })

                            </div>
                            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                                @Html.TextBoxFor(model => model.Password, new { @placeholder = "Hasło", @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })

                            </div>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_single-02"></i>
                                </span>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Imie" })

                            </div>
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_single-02"></i>
                                </span>
                                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", @placeholder = "Nazwisko" })

                            </div>
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_calendar-60"></i>
                                </span>
                                @Html.TextBoxFor(model => model.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control date-picker" })

                            </div>
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            <div class="input-group form-group-no-border input-lg" >
                                <span class="input-group-addon" style="padding-right:10px;">
                                    <i class="now-ui-icons travel_info"></i>
                                </span>
                                @Html.EnumDropDownListFor(model => model.AccountType, "Wybierz typ", new { @class = "btn btn-default btn-simple", @placeholder = "Typ Konta", @style= "width:inherit;  border-bottom-right-radius:30px;border-top-right-radius:30px;" })

                            </div>
                            @Html.ValidationMessageFor(model => model.AccountType, "", new { @class = "text-danger" })
                            <div class="input-group form-group-no-border input-lg" id="studentProp" style="display:none;">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons business_badge"></i>
                                </span>
                                @Html.TextBoxFor(model => model.AlbumNumber, new { @class = "form-control", @placeholder = "Numer Albumu" })

                            </div>
                            @Html.ValidationMessageFor(model => model.AlbumNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-11">
                                <span class="text-danger field-validation-error">@ViewBag.ValidationError</span>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <input type="submit" value="Rejestracja" class="btn btn-primary btn-round btn-lg btn-block" />
                        </div>
                        <div class="pull-left">
                            <h6>
                                @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "link" })
                            </h6>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>


}
@section Content {
}

@section Scripts {
    @Scripts.Render("~/bundles/customscripts")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/jquerycss")
}