@model Pracuj.ath.bielsko.pl.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/AutoCompleteSearchbar.js"></script>
@section Banner {
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image: url(/Content/themes/images/bg_Banner.jpg">
        </div>
        <div class="container" style="padding-top:200px;">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            <div class="content-center brand">
                <h1 class="h1-seo">Szukasz pracy?</h1>
                <h3>Zarejestruj się już dziś i znajdz swoją wymarzoną pracę!</h3>
                @Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default btn-round btn-lg" })
            </div>
                            <div class="row" style="border: 5px solid #F96332; padding:20px; margin-top:40px;">
            @*<div class="row card primar" data-background-color="orange" style=" padding:20px; margin-top:40px;">*@
                    <div class="col-md-12">
                        <h3>Szukaj:</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="input-group form-group-no-border input-lg">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </span>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "szukaj...", @style = "width: 100%" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                @Html.ActionLink("Szukaj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "width: 100%", @class = "btn btn-primary btn-round btn-lg" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.EnumDropDownListFor(model => model.AccountType, "Wybierz typ", new { @class = "btn btn-primary", @placeholder = "Typ Konta", @style = "width:inherit;  border-radius:30px; width: 100%;" })
                            </div>
                            <div class="col-md-6">
                                @Html.EnumDropDownListFor(model => model.AccountType, "Wybierz typ", new { @class = "btn btn-primary", @placeholder = "Typ Konta", @style = "width:inherit;  border-radius:30px; width: 100%;" })
                            </div>
                        </div>
                    </div>
                </div>
}
        </div>
    </div>
    </div>
}
@section Content {
}


