@model Pracuj.Models.Job
@{
    ViewBag.Title = "JobView";
}
<h2>JobView</h2>

@section Banner
{
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="false" style="background-image: url(/Content/themes/images/8.jpg);">
            </div>
            <div class="container">
                <div class="content-center" style="padding-top:50px;">
                    <h1 class="title">Oferta dla ciebie ?</h1>
                </div>
            </div>
        </div>
    </div>
}

@section Content {
    <div class="container-fluid" style="padding-top:25px">
        <div class="row">
            <div class="col-md-8">
                @Html.Raw(Model.Description)
                @Html.ActionLink("Aplikuj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-round btn-sl btn-block" })
            </div>
            <div class="col-md-4">
                <div class="row card primar">
                    <div class="col-md-12">
                        <div class="row" data-background-color="orange">
                            <div class="panel panel-default">
                                <div class="col-md-4" style="padding-top:15px; padding-bottom:5px">
                                    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded" style="max-height:100px;" />
                                </div>
                                <div class="col-md-8" style="padding-top:5px; padding-left:5px; padding-bottom:5px">
                                    <h4 style="margin-top:5px; margin-bottom:5px">
                                        @Model.CompanyName
                                    </h4>
                                    <p>
                                        Więcej informacji o pracodawcy
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-player">
                    <div class="list-group row card primar">

                        <h5 class="list-group-item list-group-item-info">@Model.Title</h5>
                        <div class="list-group-item">
                            <div class="input-group form-group-no-border input-lg" style="margin-bottom:0px; padding:0px;">
                                <span class="input-group-addon" style="padding:0px; background-color:white; padding-right:7px;">
                                    <i class="now-ui-icons location_pin"></i>
                                </span>
                                <p style=" margin-bottom:0px; margin-left:5px;">@Model.City</p>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="input-group form-group-no-border input-lg" style="margin-bottom:0px; padding:0px;">
                                <span class="input-group-addon" style="padding:0px; background-color:white; padding-right:7px;">
                                    <i class="now-ui-icons education_paper"></i>
                                </span>
                                <p style=" margin-bottom:0px; margin-left:5px;">@Model.JobCategory</p>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="input-group form-group-no-border input-lg" style="margin-bottom:0px; padding:0px;">
                                <span class="input-group-addon" style="padding:0px; background-color:white; padding-right:7px;">
                                    <i class="now-ui-icons ui-2_time-alarm"></i>
                                </span>
                                <p style=" margin-bottom:0px; margin-left:5px;"></p>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary btn-lg btn-block">Aplikuj</a>
                    </div>
                </div>
                <p style="margin-right:25px;">Pracodawca ma prawo zakończyć rekrutację we wcześniejszym terminie.</p>
            </div>
        </div>
    </div>
    @*http://stackoverflow.com/questions/2122424/is-it-possible-to-create-a-custom-asp-net-mvc-strongly-typed-html-helper*@
    @*@Html.EditorFor(m=>m.Description, "Editor" );*@

}
